@using BestRestaurants.Models;

<h1>Edit Cuisine</h1>
<form action="/cuisines/@Model.GetId()" method="post">
  <label for="type">Type</label>
  <input id="type" name="type" type="text" value="@Model.GetCuisineType()">
  <button type="submit">Submit</button>
</form>

<a href='/cuisines'>Go back to cuisines</a>
